@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Righteous&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

header .upHeader {
  background-color: #ecf3fc;
  padding-top: 7px;
  padding-bottom: 7px;
}
header .upHeader .social img {
  width: 20px;
  margin-left: 2px;
  margin-right: 2px;
}
header .upHeader .call {
  margin-right: 10px;
}
header .middleHeader {
  padding-top: 30px;
  padding-bottom: 30px;
}
header .middleHeader h2 {
  color: #183661;
  font-family: "Righteous", cursive;
  font-weight: 400;
}
header .middleHeader h2 span {
  color: red;
}
header .middleHeader .gmail {
  margin-right: 10px;
}
header .middleHeader button {
  background-color: red;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  outline: none;
  border-radius: 25px;
  margin-left: 30px;
}
header .middleHeader button a {
  text-decoration: none;
  color: #ecf3fc;
}
header .downHeader {
  background-color: #183661;
}
header .downHeader ul li {
  list-style: none;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 35px;
  padding-bottom: 35px;
}
header .downHeader ul li:hover {
  background-color: red;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header .downHeader ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
header .downHeader input {
  background-color: #222222;
  color: white;
  width: 35%;
  border: none;
  outline: none;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
}
header .mainHeader {
  background-image: -webkit-gradient(linear, left top, left bottom, to(rgba(224, 224, 224, 0.966))), url(./img/header-background.jpg);
  background-image: linear-gradient(rgba(224, 224, 224, 0.966) 100%), url(./img/header-background.jpg);
  background-position: center;
  background-size: cover;
}
header .mainHeader h1 {
  color: #183661;
  font-size: 40px;
  line-height: 60px;
}
header .mainHeader h1 span {
  color: red;
  font-size: 50px;
  font-weight: 400;
}
header .mainHeader button {
  background-color: #183661;
  outline: none;
  border: none;
  border-radius: 25px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 20px;
  font-size: 15px;
}
header .mainHeader img {
  width: 350px;
}

/* section1 */
#section1 .row div {
  background-color: red;
  -ms-flex-preferred-size: 16.666%;
      flex-basis: 16.666%;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  text-align: center;
}
#section1 .row div h4 {
  font-weight: 400;
  margin-top: 10px;
  color: white;
}
#section1 .row div a {
  text-decoration: none;
}
#section1 .row .blue {
  background-color: #183661;
}

/* section2 */
#section2 {
  padding-top: 50px;
  padding-bottom: 50px;
}
#section2 hr {
  background-color: red;
  height: 5px;
  border: none;
  outline: none;
  margin-top: 15px;
  margin-bottom: 35px;
}
#section2 .row div {
  -ms-flex-preferred-size: 19%;
      flex-basis: 19%;
  margin-bottom: 25px;
}
#section2 .row div div {
  background-color: #ecf3fc;
  padding-top: 15px;
  padding-bottom: 15px;
}
#section2 .row div div img {
  width: 100%;
}
#section2 button {
  color: white;
  background-color: red;
  border: none;
  outline: none;
  margin: 0 auto;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 25px;
  font-size: 15px;
  margin-top: 50px;
}

/* section3 */
#section3 {
  padding-top: 250px;
  padding-bottom: 250px;
  background-image: url(./img/fashion.jpg);
  background-size: cover;
  background-position: center;
}
#section3 h1 {
  font-size: 60px;
  color: white;
}
#section3 button {
  color: white;
  background-color: red;
  border: none;
  outline: none;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 25px;
  display: block;
  margin: 0 auto;
}

/* section4 */
#section4 {
  padding-top: 50px;
}
#section4 hr {
  border: none;
  outline: none;
  background-color: red;
  height: 5px;
  margin-top: 20px;
  margin-bottom: 35px;
}
#section4 .row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#section4 .row .s4div {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
#section4 .row .s4div img {
  width: 100%;
}
#section4 .row .s4div2 {
  -ms-flex-preferred-size: 68%;
      flex-basis: 68%;
}
#section4 .row .s4div2 h2 {
  margin-bottom: 25px;
}
#section4 .row .s4div2 h5 {
  font-weight: normal;
  position: relative;
}
#section4 .row .s4div2 h5::after {
  content: "";
  background-color: red;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}
#section4 .row .s4div2 p {
  margin-top: 25px;
  line-height: 30px;
}
#section4 .latest {
  margin-bottom: 20px;
}
#section4 .col-1 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
#section4 .col-2 {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  position: relative;
}
#section4 .col-2 input {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 150px;
  padding-left: 15px;
  background-color: #183661;
  border: none;
  outline: none;
  color: white;
  border-radius: 30px;
}
#section4 .col-2 input::-webkit-input-placeholder {
  color: white;
}
#section4 .col-2 input::-moz-placeholder {
  color: white;
}
#section4 .col-2 input:-ms-input-placeholder {
  color: white;
}
#section4 .col-2 input::-ms-input-placeholder {
  color: white;
}
#section4 .col-2 input::placeholder {
  color: white;
}
#section4 .col-2 button {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  outline: none;
  color: #183661;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
}
#section4 .col-3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#section4 .col-4 {
  margin-top: 40px;
}
#section4 .col-4 div {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.3);
  color: #183661;
  background-color: white;
}
#section4 .col-4 .col-5 {
  background-color: red;
  color: white;
}

/* section5 */
#section5 {
  padding-top: 150px;
  padding-bottom: 50px;
  background-color: #183661;
  margin-top: -75px;
  color: white;
}
#section5 .row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#section5 .row div {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

footer {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  text-align: center;
}

@media only screen and (max-width: 1070px) {
  header .downHeader input {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 70%;
  }
  header .downHeader ul {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 900px) {
  #section4 .row .s4div, #section4 .row .s4div2 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media only screen and (max-width: 800px) {
  #section1 .row div {
    -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
  }
}
@media only screen and (max-width: 750px) {
  #section5 .row div {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 720px) {
  header .downHeader ul {
    display: none;
  }
  header .downHeader input {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 700px) {
  #section2 .row div {
    -ms-flex-preferred-size: 24%;
        flex-basis: 24%;
  }

  header .mainHeader {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  header .mainHeader img {
    display: none;
  }
  header .mainHeader .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  #section2 .row div {
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
  }

  #section3 {
    padding: 100px 0;
  }
  #section3 .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #section3 .row h1 {
    font-size: 30px;
    margin: 0 10px;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 560px) {
  header .upHeader .social {
    display: none;
  }
  header .middleHeader h2 {
    display: none;
  }
}
@media only screen and (max-width: 550px) {
  #section1 .row div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  #section1 .row .pante {
    background-color: #183661;
  }
  #section1 .row .tshort {
    background-color: red;
  }
}
@media only screen and (max-width: 535px) {
  #section4 .col-1, #section4 .col-2 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 500px) {
  #section2 .row div {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }

  #section4 .row .s4div2 p {
    font-size: 13px;
  }
  #section4 .col-4 div {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 30px;
  }

  header .upHeader {
    font-size: 11px;
  }
  header .middleHeader {
    font-size: 11px;
    padding: 10px 0;
  }
  header .middleHeader .row2 img {
    width: 18px;
  }
  header .middleHeader .row2 button {
    margin-left: 15px;
    padding: 5px 15px;
  }

  #section5 {
    margin-top: -290px;
    padding-top: 300px;
  }
}
@media only screen and (max-width: 400px) {
  #section1 .row div {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #section1 .row .pante {
    background-color: red;
  }
  #section1 .row .tshort {
    background-color: #183661;
  }

  #section2 .row div {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}